@model MakineEntity.DTOs.Users.UserProfileDto
<a href="User/Index" class="d-flex flex-column align-items-center justify-content-center mt-4 text-decoration-none">
	<img style="border-radius: 50%; height: 100px;width:100px; margin-bottom: 6px;" src="~/img/@Model.Image.Name?" alt="Profil Fotoğrafı" />
	<p style="color:#f8b739" class="text-center fw-bold mb-0">@Model.FirstName @Model.LastName</p>
</a>
@*  yukarıda bulunan src="~/img/@Model.Image.Name?" kodu yorum satırı yapmak gerekiyor. Kullanıcı fotosunu gösteremiyor. *@